* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.alerta{
  text-align: center;
  color: red;

}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(http://localhost/mi_tienda/img/fondo.jpeg);
    background-size: cover;
}

.container-form {
  display: flex;
  border-radius: 20px;
  box-shadow: 0 5px 7px rgba(0, 0, 0, .1);
  height: 500px;
  max-width:100%;
  transition: all 2s ease;
  margin: 10px;
}

.information {
  width: 40%;
  display: flex;
  align-items: center;
  text-align: center;
  background-color: transparent;
  border-top-left-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.979);
  border-bottom-left-radius: 20px;
}


.info-childs {
  width: 100%;
  padding: 0 30px;
}

.info-childs h2 {
  font-size: 2.5rem;
  color: #000000;
}

.info-childs p {
  margin: 15px 0 ;
  color: #000000;
}

.info-childs input {
  background-color: transparent;
  outline: none;
  border: solid 2px #000000;
  border-radius: 20px;
  padding: 10px 20px;
  color: #000000;
  cursor: pointer;
  transition: background-color .3s ease;
}

.info-childs input:hover {
  background-color:  #58058f;
  border: none;
  color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
}

.form-information {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  text-align: center;
  background-color: transparent;
  border-top-right-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.979);
  border-bottom-right-radius: 20px;
}

.form-information-childs {
  padding: 0 30px;
}

.form-information-childs h2 {
  color: #000000;
  font-size: 2rem;
}

.form-information-childs p {
  color: #000000;
  font-size: 0.9em;
}

.icons img {
  width: 355px;
}

.form {
  margin: 30px 0 0 0;
}

.form label {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  border-radius: 20px;
  padding: 0 10px;
  background-color: #ffffff;
  border: solid 2px #000000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .1);

  
}

.form label input {
  width: 100%;
  padding: 10px;
  background-color: #ffffff;
  border: none;
  outline: none;
  border-radius: 20px;
  color: #000000;
  
  
}
#register-form{
   display: inline-flex;
   flex-wrap: wrap;
   padding: 0 30px;
   gap: 0.5em;

}
.contenedor-options{
 width: 43%;

}
#registrarse{
width: 88%;
margin: 5px;

}
.direction{
  width: 41%;
}

.form label i {
  color: #000000;
}

.form input[type="submit"] {
  width: 100%;
  padding: 0 30px;
}
.Rol-1{
  width: 41.3%;
  height: 38px;
}

.Rol{
width: 169px;
height: 38px;
border-radius: 15px;
background: transparent;
background-color: transparent;
border: transparent;


}
.Rol-1 .Rol .option {
border: transparent;
border-radius: 12px;

}
.form input[type="submit"] {
  background-color: transparent;
  color: #000000;
  border: solid 2px #000000;
  border-radius: 20px;
  padding: 10px 20px;
  outline: none;
  padding: 10px 15px;
  cursor: pointer;
  margin-top: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
}

.form input[type="submit"]:hover {
  background-color: #58058f;
  border: none;
  color: #ffffff;
}

.hide {
  position: absolute;
  transform: translateY(-300%);
}

/*PERSONALIZACION DE MIS ALERTAS Y MENSAJES */
.form div .alerta {
  width: 290px;
  text-align: left;
  border-radius: 7px;
  margin-bottom: 10px;
  font-size: .8rem;
}

.form > .alerta-error,
.form > .alerta-exito {
  display: none;
}

.form .alertaError {
  display: block;
  background-color: #F66060;
  padding: .5rem 1rem;
  margin-top: 10px;
  font-weight: 500;
  font-size: .8rem;
}

.form .alertaExito {
  display: block;
  background-color: #0ca828;
  padding: .5rem 1rem;
  margin-top: 10px;
  font-weight: 500;
  font-size: .8rem;
}

.form .error {
  outline: solid 2px #9d2222;
}

/*RESPONSIVE FORM*/

@media screen and (max-width:750px) {
  html {
    font-size: 12px;
  }
}

@media screen and (max-width:580px) {
  html {
    font-size: 15px;
  }

  .container-form {
    height: auto;
    flex-direction: column;
  }

  .information {
    width: 100%;
    padding: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0;
  }

  .form-information {
    width: 100%;
    padding: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 0;
  }
}


.telefono{
    width: 45px;
    height: 15px;
    position: absolute;
    z-index: 85;

}

.carrito-titulo{
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 2rem;
  

}
